* {
  box-sizing: border-box;
}

.box {
  display: none;
  width: 100px;
  height: 100px;
  background-color: burlywood;
  padding: 10px;
  border: 6px solid darkred;
  margin: 10px;

  /* padding: 16px 42px; */
}

.box:nth-child(even) {
  background-color: gold;
}

/* Відступи між дочірніми елементами всередині батьківського робляться падінгами бо маргін буде випадати */
/* Сусідні між собою елементи (без наслідування) посуваються маргінами*/
/* Маргіни треба задавати тільки до одного елемента щоб розділити між собою два */
/* Маргіни задаються практично завжди внизу (margin-bottom) */
/* Цікавий факт: наші очі легше сприймають інформацію коли відступи контенту у пікселях парні числу 8 */
