/* Відступи між дочірніми елементами всередині батьківського робляться падінгами бо маргін буде випадати */
/* Сусідні між собою елементи (без наслідування) посуваються маргінами*/
/* Маргіни треба задавати тільки до одного елемента щоб розділити між собою два */
/* Маргіни задаються практично завжди внизу (margin-bottom) */
/* Цікавий факт: наші очі легше сприймають інформацію коли відступи контенту у пікселях парні числу 8 */

* {
  box-sizing: border-box;
}

.parent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  padding: 20px;
  border: 1px dotted black;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: green;
}

.item.red {
  width: 150px;
  height: 150px;
  background-color: red;
  transform: translateY(-20px);
  opacity: 1;
  transition:
    background-color 1s,
    color 1s,
    transform 1s,
    opacity 1s;
  /* 
  transition-property: background-color;
  transition-duration: 1s; 
  ці дві властивості поміщені в одну вище
  */
}

.item.red:hover {
  transform: translateY(0);
  opacity: 0;
  background-color: pink;
  color: black;
  cursor: pointer;
}

.item.green {
  width: 100px;
  height: 100px;
  animation-name: spin;
  background-color: green;
  /* animation: spin 1s infinite linear; */
  /* animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear; 
  зверху коротше*/
}

.item.green:hover {
  animation-play-state: paused;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.item.blue {
  width: 50px;
  height: 50px;
  background-color: blue;
  transform: scale(1.5);
  z-index: -1;
}

.item.orange {
  width: 150px;
  height: 150px;
  background-color: orange;
  transform: skew(20deg, 20deg);
}

/* ! Найкраще анімувати тільки transform і opacity
 бо браузер рендерить ці дві властивості в останньому кроці,
  тобто не треба буде все від нуля перерендерити, 
  а просто виконати останній 5 крок знову */

/* .box:nth-child(even) {
  background-color: gold;
}
 */
/* flex-grow: 0;  так поводить себе елемент якщо в контейнері є вільне місце */

/* .section-title {
  position: sticky;

  background-color: burlywood;
} */
